.container {
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 0 2rem 2rem;
    box-sizing: border-box;
    width: 46rem;
    margin: 0 auto;
    background-color: #f0f0f0;
}

.statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.button-container {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.info > p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

#typingBox {
    height: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    overflow: visible clip;
    overflow-y: auto;
    white-space: pre-wrap;
    box-sizing: border-box;
    width: 100%;
}

.row {
    margin: 4px;
}

span.highlight {
    color: blue;
    font-weight: bold;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.future {
    color: gray;
}

#currentKeyDisplay {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px auto;
    width: 3ch;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
}

tbody {
    display: flex;
    position: relative;
    align-items: stretch;
}

tr {
    display: flex;
    flex-basis: 33.33333333%;
    flex-wrap: wrap;
    align-items: flex-start;
}

th,
td {
    flex-basis: 100%;
    text-align: left;
    display: flex;
    padding: 2px;

}

th {
    font-weight: bold;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.hidden {
    display: none;
}